#navbar{
direction: rtl;
}
// @media only screen and (max-width: 992px) {
//   .navlink {
//    display: block;
//   }
// }

// .baricon {
//    display: block;
//   }
// @media only screen and (max-width: 991px) {
//   .baricon {
//    display: block;
//   }
// }
.bbtt
{
  border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@700&display=swap');

.scrollto{
    font-size: 15px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: black;  
}


