<body>
  <div class=" addres ">
    <div data-text="Awesome" class="button">
      <span class="actual-text">&nbsp;Welcome&nbsp;</span>
      <span class="hover-text" aria-hidden="true">&nbsp;Welcome&nbsp;</span>
    </div>
  </div>
 
  <h1><small class="display-3 word">Medicio</small>  <div class="size" >
    مؤسسة تقدم العديد من الخدمات في المجال الطبي ،
   مثل حجز طبيب متخصص ، والبحث عن نوع من العلاج ، بالإضافة إلى تقديم العلاج النادر.
 </div> <small> <a routerLink="/register" id="right">
  <button class="cssbuttons-io-button" style="font-family: 'Noto Kufi Arabic', sans-serif;" > البدء
 <div class="icon">
   <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
 </div>
</button>
</a></small></h1>

  <!-- You can add more ".slideshow-image" elements, but remember to update the "$items" variable on SCSS -->
  <div class="slideshow">
    <div class="slideshow-image" style="background-image: url('https://plus.unsplash.com/premium_photo-1658506671316-0b293df7c72b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80'); background-size: cover;"></div>
    <div class="slideshow-image" style="background-image: url('https://img.freepik.com/free-photo/young-male-psysician-with-patient-measuring-blood-pressure_1303-17877.jpg?w=740&t=st=1690048514~exp=1690049114~hmac=2bdce1298a552e318627855171b08b58f9602706fa8144ead1e2ed74d02724c8'); background-size: cover;"></div>
    <div class="slideshow-image" style="background-image: url(https://plus.unsplash.com/premium_photo-1661777361143-4e7a5cf85cb2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80); background-size: cover;"></div>
    <div class="slideshow-image" style="background-image: url('https://plus.unsplash.com/premium_photo-1658506854326-52eab70cb236?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80'); background-size: cover;"></div>
  </div>

  <!-- <div id="carouselExampleInterval" class="carousel slide col-md-12" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="row ">
      </div>
      <div class="carousel-item active" data-bs-interval="7000">
        <div class="up-carousel" >
          <div id="right">
             <div class="display-4 word" >Medicio</div>
          </div>
           
            <div id="right" class="m-3">
               <div class="size" >
               مؤسسة تقدم العديد من الخدمات في المجال الطبي ،
              مثل حجز طبيب متخصص ، والبحث عن نوع من العلاج ، بالإضافة إلى تقديم العلاج النادر.
            </div>
            </div>
           
            <a routerLink="/login" id="right">
              <button class="cssbuttons-io-button" > البدء
             <div class="icon">
               <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
             </div>
           </button>
           </a>
        </div>
        <img id="imgsize" src="assets/img/slide/slide-1.jpg"  alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img id="imgsize" src="assets/img/slide/slide-2.jpg"  alt="...">
      </div>
      <div class="carousel-item">
        <img id="imgsize" src="assets/img/slide/slide-3.jpg"  alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

  
  <!-- <section class=" cont">
    <div class="row">
      <div class="col-md-3">
      <img class="imgedit" src="https://images.unsplash.com/photo-1631248055158-edec7a3c072b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=861&q=80">
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3 mb-4 right">
      <div class="display-3 word">Medicio</div>
      <br>
      <div class="size mb-5">
         مؤسسة تقدم العديد من الخدمات في المجال الطبي ،
        مثل حجز طبيب متخصص ، والبحث عن نوع من العلاج ، بالإضافة إلى تقديم العلاج النادر.
      </div>
      <a routerLink="/login">
         <button class="cssbuttons-io-button"> البدء
        <div class="icon">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
      </a>
     
    </div>
    </div>
</section> -->



<!-- <div class=" w-85 mx-auto">
  <p-carousel [value]="carousel" [numVisible]="1" [numScroll]="1" [circular]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
        <div class="mb-3">
          <img [src]="product.name" [alt]="product.name" style="width: 100%; height: 75vh;" />
        </div>
        <div>
        </div>
      </div>
    </ng-template>
  </p-carousel> -->
  <!-- <app-search-bar></app-search-bar> -->

  
    

    <!-- <div class="request-pharmacy container">
      <a routerLink="/Pharmacy" class="NewSolutionsstyle__NewServiceBanner-sc-k98jre-9 cfRqKu">
        <div class="NewSolutionsstyle__BannerUpperSection-sc-k98jre-10 eeqwjB">
          <div class="NewSolutionsstyle__BannerIconContainer-sc-k98jre-11 fRwaMN">
            <div class="NewSolutionsstyle__BannerIcon-sc-k98jre-12 gTtHXr"></div>
          </div>
          <div class="NewSolutionsstyle__BannerInfo-sc-k98jre-13 cvZAJH"><span
              class="NewSolutionsstyle__BannerTitle-sc-k98jre-14 gtpGoP"><strong>صيدلية</strong></span><span
              class="NewSolutionsstyle__BannerDescription-sc-k98jre-15 gwLcvO">اطلب ادويتك و كل اللي تحتاجه من
              الصيدلية.</span></div>
        </div>
        <div>
          <button class="order container-fluid">
            <span class="left"></span>
            <span>اطلب الان</span>
            <span class="right"></span>
          </button>
        </div>
      </a>
    </div> -->

    <section class="h-custom ezaha">
      <div class=" h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-10">
            <div class=" rounded-3 ">
              
              <div class=" p-4 p-md-5 desi">
                <img class=" doctorimg img-fluid" src="https://plus.unsplash.com/premium_photo-1661776050248-bf49f31df5c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80"
                 style="border-top-left-radius: 0.3rem; border-top-right-radius: 0.3rem;"
                alt="Sample photo">
                <div class="request-pharmacy container-xxl">
                  <a routerLink="/Pharmacy" class="NewSolutionsstyle__NewServiceBanner-sc-k98jre-9 cfRqKu">
                    <div class="NewSolutionsstyle__BannerUpperSection-sc-k98jre-10 eeqwjB">
                      <div class="NewSolutionsstyle__BannerIconContainer-sc-k98jre-11 fRwaMN">
                        <div class="NewSolutionsstyle__BannerIcon-sc-k98jre-12 gTtHXr"></div>
                      </div>
                      <div class="NewSolutionsstyle__BannerInfo-sc-k98jre-13 cvZAJH"><span  style="margin-bottom: 8px;"
                          class="NewSolutionsstyle__BannerTitle-sc-k98jre-14 gtpGoP"><strong style="margin-left: 9em; ">صيدلية</strong></span><span
                          class="NewSolutionsstyle__BannerDescription-sc-k98jre-15 gwLcvO">اطلب ادويتك و كل اللي تحتاجه من
                          الصيدلية.</span></div>
                    </div>
                    <div>
                      <button class="order container-fluid">
                        <span class="left"></span>
                        <span style="font-size: 1.5em;">اطلب الان</span>
                        <span class="right"></span>
                      </button>
                    </div>
                  </a>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    
    <!--start scroll to top -->
    <!-- <button (click)="scrollToTop()" class="scroll-to-top">لأعلى</button> -->
    <button (click)="scrollToTop()" class="Btn">
      <svg height="1.2em" class="arrow" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>
    <p class="text">Back to Top</p>
    </button>
    
   <div style="display: flex; text-align: center; justify-content: center;">
     <div class="col-xl-5 Qesm">
     <span class="display-4">الاطباء</span>
   </div>
   </div>
         
    <!--start doctor carousel -->
    <app-doctor-carousel></app-doctor-carousel>
    <!--end doctor carousel -->



    <div style="display: flex; text-align: center; justify-content: center;">
      <div class="col-xl-5 Qesm">
      <span class="display-4">الصيدلية</span>
    </div>
    </div>

    <!-- start carousel treatment -->
    <div class="treatcard mb-3">
      <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
          <div class="border-1 surface-border border-round m-2 text-center py-5 px-3 container">
            <div class="mb-3">
              <img src="{{ product.image }}" [alt]="product.name" class="treatimg w-6 shadow-2" />
            </div>
            <div>
              <a routerLink="/Pharmacy">
                <h4 class="treatname mb-1" style="color: #4B7AC7;">{{ product.name }}</h4>
              </a>
              <h5 class="mt-0 mb-3">{{ product.price}}</h5>
              <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <!-- end carousel treatment -->



    <!-- ======= Featured Services Section ======= -->
    <div class="container-xxl">
       <section id="featured-services" class="featured-services " style="direction: rtl;" >
      <div data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon" style="direction: rtl;"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="">صحتك تهمنا</a></h4>
              <p class="description">تقديم خدمات طبية مجانية ومتقدمة للمصريين وخاصة الفئات المحرومة والأقل حظا.</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon" style="direction: rtl;"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href="">لدينا علاجك</a></h4>
              <p class="description">نسعى دائمًا لخدمتك وتقديم علاج نادر والعناية بصحتك.</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon" style="direction: rtl;"><i class="fas fa-thermometer"></i></div>
              <h4 class="title"><a href="">معداتنا الحديثة</a></h4>
              <p class="description">اكتشف مجموعتنا الواسعة من المعدات الطبية المبتكرة لتحسين تشخيص كل مريض وخبرته ،
                والحلول الصحية المتقدمة للحصول على نتائج
                موثوقة.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon" style="direction: rtl;" ><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="">إدارة الوقت</a></h4>
              <p class="description">نحن هنا نهتم بإدارة الوقت والتأكد من اكتماله في الوقت المحدد</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>

   <!-- End Featured Services Section -->
    <!-- start footer -->
    <!-- end footer -->
    <app-footer ></app-footer>